.navbar {
    background-color: #000;
    color: #fff;
  }
  
  .navbar-brand img {
    filter: brightness(0) invert(1);
  }
  
  /* Schimbă culoarea textului meniului */
  .navbar-nav .nav-link {
    color: #ffffff; /* Auriu */
  }
  
  /* Schimbă culoarea textului când se face hover pe un element din meniu */
  .navbar-nav .nav-link:hover {
    color: gold; /* Alb când se face hover */
  }

  .nav-link {
    cursor: pointer;
}